
body,html {
  background-color: black;
  margin:0;
  padding:0;
  border:0;
}

ul#panel1 {

}
div#photoSrcContainer {
    display: inline-block;
}

#photoSrc {
    height: 1.5em;
    font-size: 1.1em;
}

#main,
#main2 {
    position: relative;
    display: inline-block;
    border: 3px solid black;
    vertical-align: top;
}

#myCanvas,
#myCanvas2 {
    border: none;
    background-clip:padding-box;
    position: absolute;
    top: 0;
    left: 0;
}

#box,
#box2 {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(255,0,0,.1);
    border: 1px solid black;
}

#controls {
    color: rgb(182,182,182);
    display: inline-block;
    position: relative;
    left: 0;
    top: 0;
    padding: 2px;
}

#colors {
    border: 2px solid #555;
    position: absolute;
    right: 5px;
    top: 3px;
}

#currentColors {


}

#controls ul {
    list-style: none;
    padding: 0;
}

#controls li label {
  width: 90px;
  display: inline-block;
  padding-bottom: 3px;
  padding-top: 3px;
  font-family: proxima-nova, helvetica, Arial, sans-serif;
  font-weight: 400;
  color: rgb(182,182,182);
}

#controls li input {
    display: inline-block;
    font-family: proxima-nova, helvetica, Arial, sans-serif;
    font-size: 1.2em;
    margin-left: 0px;
    width: 500px;
    height: 1.5em;
    color: rgb(73, 73, 73);
    font-weight: 400;
}

#controls li select option {
    width: 400px;
    font-family: proxima-nova, helvetica, Arial, sans-serif;
    font-size: 1.2em;
    color: rgb(73, 73, 73);
}
#controls #photoOp,
#controls #photoOp option {
    width: 400px;
    font-family: proxima-nova, helvetica, Arial, sans-serif;
    font-size: 1.2em;
    height: 1.5em;
    color: rgb(73, 73, 73);
    font-weight: 400;
}

#controls li input[type=range] {
    width: 175px;
    color: rgb(73, 73, 73);
    font-weight: 400;
}

/* this is how you change the font of select options!!! */
#animationFunctionId,
#fractalImageId,
#pixelColorsId,
#refColorId,
#scaleCounterId,
#hslOrHsb,
#b1,
#b2,
#b3,
#b4,
#b5,
#finiteMeasureFunction
{ /* select id */
    width: 78.75px;
    padding-top: 3px;
    padding-bottom: 3px;
    display: inline-block;
    font-family: proxima-nova, helvetica, Arial, sans-serif;
    margin-left: 0px;
    font-size: 1.2em;
    color: rgb(73, 73, 73);
    font-weight: 400;
}

#b4 {
 /*    display: none;*/
}

#animationFunctionId option,
#fractalImageId option,
#pixelColorsId option,
#refColorId option,
#scaleCounterId option,
#hslOrHsb option,
#finiteMeasureFunction option {
    padding-left: 10px;
    width: 72px;
    display: inline-block;
    font-family: proxima-nova, helvetica, Arial, sans-serif;
    font-size: 15px;
    color: rgb(73, 73, 73);
    font-weight: 400;
}

#mode-controls {
    letter-spacing: 1px;
}

#timeout,
#colorOffsetAmount,
#fractalImageId {

}

#loadPhoto,
#animateImage,
#captureCanvas {
  width: 250px;
  display: inline-block;
  vertical-align: top;
}

#buttonControl,
#buttonControl2 {
  vertical-align: top;
}

.min-max {
    display: inline-block;
    vertical-align: bottom;
}

#controls .expand .min-max > span {
    font-family: proxima-nova, helvetica, Arial, sans-serif;
    font-size: 15px;
}

#captureCanvas {
    background-color: green;
}

#imageGallery {
    padding: 3px;
    position: absolute;
    bottom: 3px;
    left: 3px;
    background-color: silver;
}

#controls legend {
    font-family: proxima-nova, helvetica, Arial, sans-serif;
    font-size: 1.2em;
    color: rgb(182, 182, 182);
    font-weight: 400;
}