@import url(/css/meyerweb-reset/reset.css);
@import url(/css/fonts.css);
@import url(/css/fira-code/fira_code.css);
/* After reset some elements need to get defaults */
html,
head,
body {
    font-family:"Fira Code VF", "Days One", "Lucida Grande", sans-serif;
}

h1 {
    margin-top: 6px;
    font-size: 2.5em;
    font-weight: 500;
}
h2 {
    margin-top: 5px;
    font-size: 2.1em;
    font-weight: 400;
}
h3 {
    margin-top: 5px;
    font-size: 2.0em;
    font-weight: 350;
 }
h4 {
    margin-top: 5px;
    font-size: 1.6em;
    font-weight: 300;
}
h5 {
    margin-top: 5px;
    font-size: 1.4em;
    font-weight: 250;
}
h6 {
    margin-top: 5px;
    font-size: 1.2em;
    font-weight: 200;
}

.nav h1,
.nav h2,
.nav h3,
.nav h4,
.nav h5 {
    font-weight: normal;
    font-family: "Fira Code VF", "Days One", "Lucida Grande", sans-serif;
}

pre, code, xmp {
    font-family: "Fira Mono", Monaco, monospace;
}

.nav {
    background-color: #069;
    color: white;
    font-size: 1.2em;
    padding: 3px;
    padding-left: 5px;
}

.nav  a:link, .nav a:visited {
    color: #CBDB2A;
}

.nav  a:hover {
  color: #524FA1;
}

.nav li { 
    display: inline-block;
    text-transform: capitalize;
}

#content {
    min-height: 600px;
    padding: 5px;
    background-color: #eee;
}

.bottom {
    position: relative;
}

#footer {
    position: absolute;
    bottom: 0;
    right: 0;
}


