[comment {
    Simple template to move view out of tcl code.
} /]
<!DOCTYPE html>
<html>
<head>
<title>Light Switch Problem</title>
</head>
<body>
<!--  method='POST' encoding='multi-part/formdata' -->
<a href='https://youtu.be/-UBDRX6bk-A'>See Numberphile Video on YouTube</a>
<p>I am confused by the Numberphile's arrangement of the 100 switches as a two
dimensional grid instead of a single line of "switches" See 
<a href='https://youtu.be/-UBDRX6bk-A?t=147'>video at about 2:02</a>

<form autocomplete='off' spellcheck='false'>
<ul>
 <li>
  <label for='n'>Number of Switches:</label>
  <input name='n' id='n'  value='$n'>
 </li>
 <li>
  <label for='c'>Max Switch Runs:</label>
  <input name='c' id='c' value='$c'>
 </li>
 <li>
  <label for='s'>Start With:</label>
  <input name='s' id='s' value='$sOriginal'>
 </li>
 <li>
  <label for='l'>Show Logs?</label>
  <input type='checkbox' name='l' id='l' value='1' [expr {$l?"checked":""} /]>
 </li>
 <li>
  <label for='r'>Reverse Lines?</label>
  <input type='checkbox' name='r' id='r' value='1' [expr {$r?"checked":""} /]>
 </li>
 <li>
  <input type='submit' value='Try it'/>
 </li>
 </ul>
</form>
<a href='source.tcl?2'>Source Code</a><br>

<pre>
n = '$n'
c = '$c'
s = '$s'
l = '$l'
r = '$r'

Each line is the result of toggling on/off for 0/1 when index%stride==0, stride=1,2...n


[join $result "\n"]
list:
[foreach line $result /]
[split-to sline $line "" /]
[if {$r}][lreverse $sline][else]$sline[/if]
[/foreach]

[if {$l}]$logs[/if]

</pre>
</body>
</html>