html {
    font-size: 16px; /* defines 1em=16px */
}
html, 
body {
    background-color: black;
    margin:0;
    padding:0;
    border:0;
}

body {
    font-size: 1em;
    font-family: 'Fira Code','Lucida Sans Unicode', sans-serif;
}

#main,
#main2 {
    position: relative;
    display: inline-block;
    padding: 0;
    vertical-align: top;
    margin: 0.1875em;
}

#myCanvas,
#myCanvas2 {
    border: none;
    background-clip:padding-box;
    position: relative;
    vertical-align: top;
}

#box,
#box2 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255,0,0,.1);
    border: 0.0625em dashed yellow;
}

#controls {
    color: white;
    display: inline-block;
    position: relative;
    left: 0;
    top: 0;
    padding: 0.125em;
}

#colors {
    border: 0.125em solid #555;
    position: absolute;
    right: 0.3125em;
    top: 0.1875em;
}

#controls ul {
    list-style: none;
    padding: 0;
}

#controls li label {
    width: 6em;
    display: inline-block;
    padding-bottom: .1875em;
    padding-top: .1875em;
}

#controls li input {
    display: inline-block;
    font-family: inherit;
    text-align: ".";
    font-size: 1em;
    margin-left: 0;
}

#controls li select option {
    width: 5em;
}

#controls li input {
    display: inline-block;
    width: 4.7em;
}

#animationFunctionId,
#fractalImageId,
#fractalTypeId,
#scaleTypeId,
#pixelColorsId,
#refColorId,
#scaleCounterId,
#hslOrHsb,
#b1,
#b2,
#b3,
#b4,
#b5,
#finiteMeasureFunction
{ /* select id */
    width: 5.2em;
    padding-top: 0.1875em;
    padding-bottom: 0.1875em;
    margin-left: 0;
    font-size: 1em;/* 1em = 16px;*/
    font-family: inherit;
}

#b4 {
    display: none;
}

select#animationFunctionId,
select#fractalImageId,
select#fractalTypeId,
select#scaleTypeId,
select#pixelColorsId,
select#refColorId,
select#scaleCounterId,
select#hslOrHsb,
select#finiteMeasureFunction {
    text-align: right;
    align-items: flex-end;
}

#animationFunctionId option,
#fractalImageId option,
#fractalTypeId option,
#scaleTypeId option,
#pixelColorsId option,
#refColorId option,
#scaleCounterId option,
#hslOrHsb option,
#finiteMeasureFunction option {
    padding-left: .625em;
    width: 5em;
    font-size: 1em;
    text-align: right;
}

#mode-controls {
    letter-spacing: .0625em;
}

#drawImage,
#animateImage,
#captureCanvas {
    width: 5em;
    display: inline-block;
    vertical-align: top;
}

#buttonControl,
#buttonControl2 {
    vertical-align: top;
}

.min-max {
    display: inline-block;
    vertical-align: bottom;
}

#controls .expand .min-max > span {
    font-family: inherit;
    font-size: inherit;
}

#captureCanvas {
    background-color: green;
}

#imageGallery {
    padding: 0.1875em;
    position: absolute;
    bottom: 0.1875em;
    left: 0.1875em;
    background-color: silver;
}

#pickContainer {
    display: block;
    width: 715px; /* 256*11/4 */
    position: absolute;
    bottom: 50px;
}

.cp {
    height: 0.625em;
    width: 0.625em;
    display: inline-block;
    padding: 0;
    margin: 0;
    border: 0.03125em solid black;
}
