#pris0 {
    offset-path: path("M51.000, 51.000 C173.500 51.000 51.000 295.000 173.500 295.000");
    offset-path: path("M51.000, 51.000 C418.500 51.000 51.000 539.000 418.500 539.000");
    offset-path: path("M51.000, 51.000 C418.500 51.000 51.000 295.000 418.500 295.000");
    animation: move 3000ms 4 ease-in-out; 
    animation-fill-mode:forwards;
    animation-direction:alternate
}
#pris2 {
    offset-path: path("M51.000, 51.000 C173.500 51.000 51.000 295.000 173.500 295.000");
    offset-path: path("M51.000, 51.000 C418.500 51.000 51.000 539.000 418.500 539.000");
    offset-path: path("M51.000, 51.000 C418.500 51.000 51.000 295.000 418.500 295.000");
    offset-path: path("M51.000, 51.000 C173.500 51.000 51.000 51.000 173.500 51.000");
    animation: move 3000ms 4 ease-in-out; 
    animation-fill-mode:forwards;
    animation-direction:alternate
}
#pris3 {
    offset-path: path("M51.000, 51.000 C-316.500 51.000 51.000 -437.000 -316.500 -437.000");
    offset-path: path("M51.000, 51.000 C-71.500 51.000 51.000 51.000 -71.500 51.000");
    animation: move 3000ms 3 ease-in-out;
    animation: move-and-rotate 3000ms 4 alternate forwards ease-in-out;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}
#pris4 {
    offset-path: path("M51.000, 51.000 C173.500 51.000 51.000 295.000 173.500 295.000");
    animation: move 3000ms 4 ease-in-out; 
    animation-fill-mode:forwards;
    animation-direction:alternate
}
#pris13 {
    offset-path: path("M51.000, 51.000 C-71.500 51.000 51.000 -193.000 -71.500 -193.000");
    animation: move 3000ms 3 ease-in-out;
    animation: move-and-rotate 3000ms 4 alternate forwards ease-in-out;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}
#pris19-disable {
    offset-path: path("M51.000, 51.000 C-316.500 51.000 51.000 -437.000 -316.500 -437.000");
    animation: move 3000ms 3 ease-in-out;
    animation: move-and-rotate 3000ms 4 alternate forwards ease-in-out;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}

#pris16 {
    offset-path: path("M51.000, 51.000 C173.500 51.000 51.000 295.000 173.500 295.000");
    offset-path: path("M51.000, 51.000 C418.500 51.000 51.000 -193.000 418.500 -193.000");
    offset-path: path("M51.000, 51.000 C418.500 51.000 51.000 -71.000 418.500 -71.000");
    animation: move 3000ms 4 ease-in-out; 
    animation-fill-mode:forwards;
    animation-direction:alternate
}
#pris15 {
    offset-path: path("M51.000, 51.000 C-316.500 51.000 51.000 295.000 -316.500 295.000");
    offset-path: path("M51.000, 51.000 C-316.500 51.000 51.000 -193.000 -316.500 -193.000");
    offset-path: path("M51.000, 51.000 C-316.500 51.000 51.000 173.000 -316.500 173.000");
    animation: move 3000ms 3 ease-in-out;
    animation: move-and-rotate 3000ms 4 alternate forwards ease-in-out;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}
#pris11 {
    offset-path: path("M51.000, 51.000 C-316.500 51.000 51.000 295.000 -316.500 295.000");
    offset-path: path("M51.000, 51.000 C-316.500 51.000 51.000 -193.000 -316.500 -193.000");
    animation: move 3000ms 3 ease-in-out;
    animation: move-and-rotate 3000ms 4 alternate forwards ease-in-out;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}

@keyframes move {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}
@keyframes move-and-rotate {
  0% {
    offset-distance: 0%;
    transform: rotate(180deg);
  }
  100% {
    offset-distance: 100%;
    transform: rotate(180deg);
  }
}