[comment {
    Dynamically produce css as requested thru query vars.
} /]

$selector {
    display: $display;
    height: $height;
    width: $width;
    color: $color;
    background-color: $bgcolor;
    border: $border;
}

