/*body {
    padding: 0px;
    margin: 0px;
    border: 0px;
} */
.column-container {
  display: block;
  background-color: blue;
  color: white;
  overflow: hidden;
  margin: -0px;
  padding: 0px;
  border: 0px;
 }

.Acol { 
  display: inline-block;
  width: 150px;
  min-width: 150px;
  min-height: 700px;
  overflow:hidden;
  background-color: black;
  margin: -0px;
  border: 0px;
  padding: 0px;
}

.Bcol { 
  display: inline-block;
  background-color: red;
  width: 450px;
  min-height: 700px;
  overflow: inherit;
  margin: -0px;
  border: 0px;
  padding: 0px
}

.Ccol { 
  display: inline-block;
  width: 150px;
  min-height: 700px;
  background-color: black;
  overflow: inherit;
  margin: -0px;
  border: 0px;
  padding: 0px;
}
